body {
    background-color: dimgrey;
    color: floralwhite;
    text-align: center;
    font-family: monospace;
}

.introduction {
    padding: 10px;
    color: cornflowerblue;

}

input[type="text"]{
    background-color: #a9a9a9;
    color: #f0f8ff;
}

textarea {
    resize: none;
    background-color: #a9a9a9;
    color: #f0f8ff;
}

button.button {
    background-color: #5f9ea0;
    color: #f0fff0;
    border-block-color: #808080;
    margin-inline-end: 5px;
}

input[type="checkbox"] {
    margin-inline-end: 5px;
}