{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h1>{{ name }}</h1>
    <br>
    <div class="container" width="720px">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>{{ symbol }}</td>
                <td>{{ price }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}